.header {
  font-size: 1.2rem;
  width: 100%;
  height: 5rem;
  background-color: #292929;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 5vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.hamburger {
  font-size: 2rem;
  display: none;
  height: 5rem;
  width: 5rem;
}

.navbar {
  list-style: none;
  display: flex;
  z-index: 10;
}
.navbar > :nth-child(n + 2) {
  border: 0 solid gray;
  border-left-width: 1px;
  height: 5rem;
  width: 12rem;
  line-height: 5rem;
}

.navbar > :last-child {
  border-right-width: 1px;
}

h1 {
  font-size: 1.7rem;
  align-content: center;
  width: 100%;
}
a {
  width: 100%;
}
h1:hover,
h1:active,
.active h1 {
  filter: drop-shadow(0 0 0.5rem #888);
}

.navbar > :first-child {
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  padding: 0 1rem;
  width: 15rem;
}
.navbar :first-child {
  color: white;
  text-decoration: none;
}

/* navbar button*/
.navbar-button {
  position: relative;
  text-align: center;
  cursor: pointer;
  font: inherit;
  background-image: radial-gradient(closest-side, #292929eb, #292929);
  color: white;
  font-weight: bold;
  border: 0;
  height: 100%;
  width: 100%;
}

.navbar-button:hover,
.active,
.active .navbar-button,
.navbar-button:active {
  box-shadow: 0 10px 15px -5px #888;
  transform: scale(1.08);
  text-shadow: 0 0 10px #888;
  z-index: 21;
}

@keyframes on-hover {
  0% {z-index: 10;

    transform: scale(1);
  }
  50%{z-index: 21;}
  100% {
    z-index: 21;
    transform: scale(1.08);
  }
}
@keyframes off-hover {
  0% {
    box-shadow: 0 10px 15px -5px #888;
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
    z-index: 11;
  }
}

/*dropdown*/

.dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropdownItem {
  position: relative;
  display: block;
  z-index: 20;
}
@media (min-width: 1001px) {
  .dropdown > :nth-child(n + 2) {
    height: 4rem;    
    line-height: 4rem ;
    border: 0 solid gray;
    border-top-width: 1px;
    z-index: 19;
    animation: on-call 400ms ease-in;
  }
}
.dropdown > :nth-child(n + 1):hover {
  z-index: 21;
}
#dropdowOverlayBackground,
#mobileOverlayBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000000;
  border: 0;
  z-index: 8;
}

@keyframes on-call {
  0% {
    z-index: -1;
    transform: translateY(-20rem);
  }

  100% {
    transform: translateY(0);
  }
}

/*media*/
@media (max-width: 1000px) {
  .navbar > :nth-child(n + 2) {
    display: none;
  }
  .header {
    padding: 0;
    position: relative;
  }
  ul.navbar {
    padding: 0;
  }
  .mobileNavView {
    position: absolute;
    top: 0px;
    display: block;
    margin: 0;
    padding: 0;
  }

  .mobileNavView > :nth-child(n + 2) {
    display: block;
    height: 3rem;    
    line-height: 3rem ;
    width: 100vw;
    border: 0;
  }
  .hamburger {
    position: absolute;
    top: 0;
    right: 2%;
    z-index: 25;
    display: block;
  }
}
