<header class="header">
  <nav>
    <ul [ngClass]="{ navbar: true, mobileNavView: isMobileMenuVisible }">
      <li>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
        >
          <h1>
            Guild Manager
            <fa-icon [icon]="faHome"></fa-icon>
          </h1>
        </a>
      </li>
      <ul class="dropdown">
        <button
          class="navbar-button"
          [class.active]="isDDVisible"
          (click)="onShowDD()"
        >
          Raid Builder <fa-icon [icon]="faCaretDown"></fa-icon>
        </button>
        <li *ngIf="isDDVisible" class="dropdownItem">
          <a routerLink="/raidBuilder"
            ><div class="navbar-button">New Raid</div></a
          >
        </li>

        <li *ngIf="isDDVisible" class="dropdownItem">
          <button class="navbar-button" (click)="onShowOpenRaidForm()">
            <div class="navbar-button">Open Raid</div>
          </button>
        </li>
      </ul>
      <div *ngIf="isDDVisible && isMobileMenuVisible"></div>
      <div *ngIf="isDDVisible && isMobileMenuVisible"></div>
      <div
        (click)="onShowDD()"
        id="dropdowOverlayBackground"
        *ngIf="isDDVisible"
      ></div>
      <li>
        <a routerLinkActive="active" routerLink="/crafting"
          ><div class="navbar-button">Crafting-WIP</div></a
        >
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/guildRoster"
          ><div class="navbar-button">Guild Roster-WIP</div></a
        >
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/contact"
          ><div class="navbar-button">Contact</div></a
        >
      </li>
    </ul>
    <div class="hamburger">
      <button class="navbar-button" (click)="onShowMobileMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
    <div
      (click)="onShowMobileMenu()"
      id="mobileOverlayBackground"
      *ngIf="isMobileMenuVisible"
    ></div>
  </nav>
</header>
<app-form-container [title]="'Open an existing Raid'" type="OpenRaid"*ngIf="isOpenRaidFormVisible" (closeForm)="onHideOpenRaidForm()">
</app-form-container>



