<div class="wrapper">
  <div *ngIf="!isLoggedIn">
    <h3>Please Log In to view this page</h3>
  </div>
  <div *ngIf="isLoggedIn">
    <div class="titleWrapper">
      <h3>{{ "Profile: " + userName }}</h3>
      <div class="logoutButton">
        <app-std-button
          (click)="logoutHandler()"
          [buttonInfo]="{
            text: 'Log Out',
            style: 'close',
            type: 'discord'
          }"
        ></app-std-button>
      </div>
    </div>
    <div class="clientSettings">
      <p>Client Settings:</p>
      {{
        "Selected Guild: " +
          selectedGuild +
          " / Role in this guild:" +
          roleInCurrGuild
      }}
      <div class="changeButton">
        <app-std-button
          (click)="guildSelectorHandler()"
          [buttonInfo]="{
            text: 'Change Guild',
            style: 'button',
            type: 'button'
          }"
        ></app-std-button>
      </div>
    </div>
    <div *ngIf="guildDataRead" cdkDropListGroup class="boundary">
      <p>Guild Settings:</p>
      <div class="changeButton">
        <app-std-button
          *ngIf="roleInCurrGuild === 'Admin'"
          (click)="saveToFirestore()"
          [buttonInfo]="{
            text: 'Save',
            style: 'submit',
            type: 'button'
          }"
        ></app-std-button>
      </div>
      <div class="ranks">
        <div *ngFor="let role of roles; let i = index">
          <div class="listTitle">{{ role.GroupName }}</div>
          <ul
            class="rankList"
            cdkDropList
            #droplist="cdkDropList"
            [id]="role.GroupName"
            [cdkDropListData]="role.Roles"
            (cdkDropListDropped)="drop($event)"
          >
            <li
              *ngFor="let item of role.Roles"
              [id]="item.Id"
              class="roleItem"
              cdkDrag
              [cdkDragData]="item.Group"
              cdkDragBoundary=".boundary"
              [cdkDragDisabled]="roleInCurrGuild !== 'Admin'"
            >
              {{ item.Name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-form-container
  [title]="'Select a guild'"
  type="OpenGuild"
  *ngIf="isOpenGuildsormVisible"
  (closeForm)="onHideOpenGuildsForm()"
>
</app-form-container>
