<div cdkDropListGroup class="boundary">
  <div [class]="['raidCards',editable?'editable':'noneditable']">
    <div *ngFor="let raid of raidInfo; let i = index" class="listWrapper">
      <div class="listTitle">
        
        <!-- <button class="optionsButton" [id]="'raidOptions-'+i" (click)="openRaidOptionsHandler($event)">
        <fa-icon [icon]="faWrench"></fa-icon>
      </button> -->


        <p>{{ raid }}</p>
        <span>{{ !!raidGroups[i]?raidGroups[i].length:0 }}</span>
      </div>
      <ul
        class="playerList"
        cdkDropList
        #droplist="cdkDropList"
        [id]="'Raid' + (i + 1)"
        [cdkDropListData]="raidGroups[i]"
        (cdkDropListDropped)="drop($event)"
      >
        <li
          *ngFor="let member of raidGroups[i]"
          cdkDrag
          cdkDragBoundary=".boundary"
          [cdkDragData]="member.Role"
          [cdkDragDisabled]="!editable"
        >
          <app-player-list-item [raidMember]="member"></app-player-list-item>
        </li>
      </ul>
    </div>
  </div>
  <div class="raidCards">
    <div *ngFor="let classList of classes; let i = index" class="listWrapper">
      <div class="listTitle">
        
        <p>{{ classInfo[i].Name }}</p>
        <span>{{ classList.length }}</span>
      </div>

      <ul
        class="playerList"
        cdkDropList
        #droplist="cdkDropList"
        [id]="'Nothing' + (i + 1)"
        [cdkDropListData]="classList"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="classInfo[i].func"
      >
        <li
          *ngFor="let member of classList"
          cdkDrag
          [cdkDragData]="member.Role"
          [cdkDragDisabled]="!editable"
        >
          <app-player-list-item [raidMember]="member"></app-player-list-item>
        </li>
      </ul>
    </div>
  </div>

  <div class="raidCards">
    <div *ngFor="let field of miscFields; let i = index" class="listWrapper">
      <div class="listTitle">
        <p>{{ i == 0 ? "Absent" : "No-Show" }}</p>
        <span>{{ field.length }}</span>
      </div>

      <ul
        class="playerList"
        cdkDropList
        #droplist="cdkDropList"
        [id]="i == 0 ? 'Absent' : 'NoShow'"
        [cdkDropListData]="field"
        (cdkDropListDropped)="drop($event)"
      >
        <li
          *ngFor="let member of field"
          cdkDrag
          [cdkDragData]="member.Role"
          [cdkDragDisabled]="!editable"
        >
          <app-player-list-item [raidMember]="member"></app-player-list-item>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-form-container
  [title]="'Raid Options'"
  type="RaidOptions"
  *ngIf="showRaidOptions"
  [raidName]="raidName"
  (closeForm)="closeRaidOptionsHandler()"
>
</app-form-container>
