<div class="settingsBar" *ngIf="isAdmin"><div *ngIf="isAdmin&&editable" class="menuButton">
  <app-std-button
    (click)="saveRaidHandler()"
    [buttonInfo]="{ text: 'Save', style: 'submit', type: 'button' }"
    [disabled]="!anyChanges"
  ></app-std-button>
</div>
<div *ngIf="isAdmin && !editable" class="menuButton">
  <app-std-button
    (click)="editHandler()"
    [buttonInfo]="{ text: 'Edit', style: 'button', type: 'button' }"
  ></app-std-button>
</div>
<div *ngIf="isAdmin && editable" class="menuButton">
  <app-std-button
    (click)="addRaidHandler()"
    [buttonInfo]="{ text: 'Add Raid Team', style: 'button', type: 'button' }"
  ></app-std-button>
</div>
<div *ngIf="editable" class="menuButton">
  <app-std-button *ngIf="scrollable"
    (click)="toggleAutoScrollHandler()"
    [buttonInfo]="{ text: 'Disable Auto-Scroll', style: 'close', type: 'button' }"
  ></app-std-button>
  
  <app-std-button *ngIf="!scrollable"
    (click)="toggleAutoScrollHandler()"
    [buttonInfo]="{ text: 'Enable Auto-Scroll', style: 'button', type: 'button' }"
  ></app-std-button>
</div>
</div>
<h2 class="title">Raid Builder</h2>
<app-raid-description
  [raidFoundStatus]="raidFoundStatus"
  [raidDetails]="raidDsc"
></app-raid-description>
<app-raid-list
[editable]="editable"
[scrollable]="scrollable"
(onChange)="changeAnyChanges($event)"
  *ngIf="raidFoundStatus === 200"
  [sortedRaids]="sortedRaids"
  [guildId]="guildId"
  [raidId]="raidId"
></app-raid-list>
