<div cdkDropListGroup>
  <div class="raidCards">
    <div *ngFor="let raid of raidInfo; let i = index" class="listWrapper">
      <div class="listTitle">
        <p>{{ raid }}</p>
        <span>0</span>
      </div>
      <ul
      class="playerList"
      cdkDropList
      #droplist="cdkDropList"
      [cdkDropListData]="raidGroups[i]"
      (cdkDropListDropped)="drop($event)"
    >
        <app-player-list-item
        *ngFor="let member of raidGroups[i]"
        cdkDrag
        [raidMember]="member"
        ></app-player-list-item>
      </ul>
    </div>
  </div>
  <div class="raidCards">
    <div *ngFor="let classList of classes; let i = index" class="listWrapper">
      <div>
        <div class="listTitle" [ngSwitch]="i">
          <p *ngSwitchCase="0">Tanks</p>
          <p *ngSwitchCase="1">Healers</p>
          <p *ngSwitchCase="2">Ranged DPS</p>
          <p *ngSwitchCase="3">Melee DPS</p>
          <span>{{ classList.length }}</span>
        </div>
        <ul
          class="playerList"
          cdkDropList
          #droplist="cdkDropList"
          [cdkDropListData]="classList"
          (cdkDropListDropped)="drop($event)"
        >
          <app-player-list-item
            *ngFor="let member of classList"
            cdkDrag
            [raidMember]="member"
          ></app-player-list-item>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--[ngSwitch]="i" 
    <p *ngSwitchCase="0">Tanks</p>
        <p *ngSwitchCase="1">Healers</p>
        <p *ngSwitchCase="2">Ranged DPS</p>
        <p *ngSwitchCase="3">Melee DPS</p>
        <span>{{ class.length }}</span> -->

<!-- 
        <div *ngFor="let class of classes; let i = index" class="listWrapper">
            <div  >
              <div class="listTitle" >
                title
              </div>
              <ul class="playerList"  cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="classes[i]"
              [cdkDropListConnectedTo]="[classes[0],classes[1],classes[2],classes[3]]"
              (cdkDropListDropped)="drop($event)">>
              <div class="example-box" *ngFor="let item of classes[i]" cdkDrag>{{item}}</div>
                <app-player-list-item
          class="example-box"
          *ngFor="let item of classes[i]"
          cdkDrag
          [raidMember]="item"
        ></app-player-list-item>
              </ul>
            </div>
          </div> -->
